<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<app-header></app-header>
<div class="container">
  <div class="product-content product-wrap clearfix product-deatil">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="product-image">
          <div id="myCarousel-2" class="carousel slide">
            <div class="carousel-inner">

              <div class="item active">
                <img
                  src="https://www.bootdey.com/image/700x400/FFB6C1/000000"
                  class="img-responsive"
                  alt=""
                />
              </div>
            </div>
            <a
              class="left carousel-control"
              href="#myCarousel-2"
              data-slide="prev"
            >
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a
              class="right carousel-control"
              href="#myCarousel-2"
              data-slide="next"
            >
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
        <h2 class="name">
          Product Name Title Here
          <small>Product by <a href="javascript:void(0);">Adeline</a></small>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-primary"></i>
          <i class="fa fa-star fa-2x text-muted"></i>
          <span class="fa fa-2x"><h5>(109) Votes</h5></span>
        </h2>
        <hr />
        <h3 class="price-container">
          $129.54
          <small>*includes tax</small>
        </h3>
    </div>
  </div>
  <!-- end product -->
</div>
